@use "./variables" as v;

.faq-section {
  padding: 70px 20px;
  max-width: 1200px;
  margin: auto;

  h2 {
    font-size: 32px;
    color: v.$primary-color;
    margin-bottom: 30px;
  }
}

.faq-list {
  border: 1px solid #dbe2ea;
  border-radius: 6px;
  overflow: hidden;
}

.faq-item {
  border-bottom: 1px solid #dbe2ea;

  &:last-child {
    border-bottom: none;
  }
}

.faq-question {
  width: 100%;
  background: #ffffff;
  border: none;
  padding: 18px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  @include v.font-poppins-sans(500);
  font-size: 16px;
  color: v.$text-dark;

  .arrow {
    font-size: 20px;
    transition: transform 0.3s ease;
  }
}

.faq-item.active .arrow {
  transform: rotate(180deg);
}

.faq-answer {
  padding: 10px 18px;
  background: #fafafa;

  p {
    margin: 0;
    @include v.font-poppins-sans;
    font-size: 14px;
    line-height: 1.7;
    color: v.$text-dark;
  }
}
