.happy-clients {
  padding: 60px 0;
  background: #f9f9f9;
  text-align: center;

  h2 {
    font-size: 32px;
    margin-bottom: 30px;
    font-weight: 600;
  }

  .swiper {
    pointer-events: none; // hover pe rukega nahi
  }

  .client-card {
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    margin: 10px;

    img {
      max-width: 100%;
      max-height: 70px;
      object-fit: contain;
      // filter: grayscale(100%);
      transition: 0.3s ease;
    }

    img:hover {
      filter: grayscale(0%);
      transform: scale(1.05);
    }
  }
}
