@use "./variables" as v;
.hero {
  position: relative;
  height: 80vh;
  background: linear-gradient(to right,
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.2)),
    url("../assets/Home/HeroSectionBG.png") center/cover no-repeat;
  color: #fff;
  display: flex;
}

.hero-content {
        box-sizing: border-box;
    padding: 50px;
//   margin-left: 120px;
//   max-width: 650px;
  padding-top: 80px;

  h1 {
    font-size: 36px;
    margin-bottom: 15px;
  }

  p {
    font-size: 17px;
    margin-bottom: 20px;
  }
}

.primary-btn {
  padding: 12px 25px;
  background: #ffffff;
  color: v.$primary-color;
  border: none;
  font-weight: bold;
}

.quick-menu {
  width: 80px;
  background: v.$primary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;

  div {
    color: #fff;
    margin: 15px 0;
    cursor: pointer;
    font-size: 13px;
  }
}

.track-box {
  margin-top: 30px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  color: #000;

  h3 {
    margin-bottom: 10px;
  }

  .track-form {
    display: flex;
    gap: 10px;

    input {
      flex: 1;
      padding: 10px;
    }

    button {
      padding: 10px 18px;
      background: v.$primary-color;
      color: #fff;
      border: none;
    }
  }
}



