@use "./variables" as v;

* {


  @include v.font-poppins-sans;
}

.primary-color{
  color: v.$primary-color;
}

body {
  margin: 0;
}



.form-container {
  background: url("../assets/Home/formBG.webp");
  background-size: cover;
  background-position: center;
  padding: 50px;

  .container {
    width: 1200px;
    margin: auto;
    margin-top: 30px;
    justify-content: space-between;
    display: flex;


    .text {
      color: #fff;

      h1 {
        font-weight: 600;
        font-size: 30px;
        margin: 0;
      }

      span {
        position: relative;
        display: block;
        font-style: italic;
        margin-bottom: 20px;
        margin-top: 30px;
      }

      ul {
        margin: 0;
        margin-top: 5px;
        padding-left: 30px;

        li {
          padding: 0;
          margin: 5px 0;
        }
      }
    }

  }

}

@media screen and (max-width: 1296px) {
  .form-container {
    padding: 20px;
    .container {
      width: 100%;
    }
  }
}


@media screen and (max-width: 868px) {
  .form-container {
    .container {
      flex-direction: column;
      align-items: center;

      .text{
        margin-bottom: 30px;

        .zoho-contact-form{
          margin: auto;
        }
      }
    }
  }
}

#certificate-section {
    padding: 30px 10px;
    // background: linear-gradient(transparent, v.$primary-color, transparent);
    // background: $primary-color;

    .container {
        display: grid;
        grid-template-columns: repeat((3, 1fr));
        gap: 10px;
        width: 80%;
        margin: auto;

        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            padding: 20px;

            .hidden {
                position: absolute;
                width: 100%;
                height: 100%;
                background: #0000009f;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                color: #fff;
                font-size: 30px;
                text-decoration: none;
                opacity: 0;
            }

            .hidden:hover {
                opacity: 1;
            }

            img {
                width: 200px;
                // box-shadow: 0 1px 2px 0 rgba(48, 48, 48, .30), 0 1px 3px 1px rgba(48, 48, 48, .15);
                // border: 1px solid #00000056;
                border-radius: 10px;
                height: 100%;
            }

            h3 {
                margin-top: 10px;
                text-align: center;
                font-weight: 300;

            }
        }
    }
}

#our-services {
  // padding: 20px;
  margin-top: 50px;

  h1 {
    text-align: center;
    // margin: 0;
  }

  p {
    text-align: center;
    // margin:30px 0;
    font-size: v.$text-size;
    margin-bottom: 30px;
  }

  .btns {
    display: flex;
    justify-content: center;
    box-shadow: 0 10px 5px #00000022;

    button {
      padding: 10px 20px;
      margin: 0 10px;
      border-radius: 5px;
      border: 1px solid #00000075;
      font-size: v.$text-size;
      border-bottom: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      cursor: pointer;
    }
  }

  .details {
    margin: 50px auto;
    width: 1100px;

    .images {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;

      .card {
        position: relative;
        border-radius: 20px;
        height: 500px;
        overflow: hidden;

        .img {
          width: 100%;

          img {
            width: 100%;
          }
        }

        .text {
          position: absolute;
          top: 57%;
          width: 100%;
          height: 100%;
          padding: 10px;
          box-sizing: border-box;
          background: #0b6b39c0;
          color: #fff;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
          text-align: center;

          h4 {
            text-align: center;
          }

          ul {
            padding: 0;

            li {
              margin: 22px 0;
              font-size: v.$text-size;
            }
          }

          a {
            text-decoration: none;
            color: v.$text-light;
            border: 1px solid #fff;
            padding: 5px 10px;
          }

          a:hover {
            background: #fff;
            color: green;
          }
        }
      }

      .card:hover .text {
        top: 0;
      }
    }
  }
}

@media screen and (max-width: 1147px) {
  #our-services {
    .details {
      width: 100%;
    }
  }
}



.shifting-stages {
  padding: 70px 20px;
  text-align: center;

  h2 {
    @include v.font-poppins-sans(600);
    font-size: 32px;
    color: v.$text-dark;
    margin-bottom: 50px;
  }
}

.stages-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  // gap: 40px;
  width: 1200px;
  margin: auto;

  @media (max-width: 992px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 576px) {
    grid-template-columns: 1fr;
  }
}

.stage-card {
  position: relative;
  padding: 20px;

  .step {
    position: absolute;
    top: -18px;
    left: 50%;
    transform: translateX(-50%);
    width: 42px;
    height: 42px;
    color: v.$text-dark;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include v.font-poppins-sans(600);
    font-size: 18px;
  }

  .icon {
    width: 100px;
    height: 100px;
    margin: 0 auto 20px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  h3 {
    @include v.font-poppins-sans(600);
    font-size: 20px;
    color: v.$text-dark;
    margin-bottom: 10px;
  }

  p {
    @include v.font-poppins-sans;
    font-size: 14px;
    color: v.$text-dark;
    line-height: 1.6;
  }
}

@media screen and (max-width: 1323px) {
  .stages-grid {
    width: 100%;
  }
}


.question-cta {
  padding: 40px 20px;
}

.cta-box {
  max-width: 1200px;
  margin: auto;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  padding: 30px 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;

  @media (max-width: 768px) {
    flex-direction: column;
    text-align: center;
  }
}

/* Left icon */
.cta-icon {
  width: 120px;

  img {
    width: 100%;
  }
}

/* Center text */
.cta-content {
  flex: 1;

  h3 {
    @include v.font-poppins-sans(600);
    font-size: 28px;
    color: v.$text-dark;
    margin: 0;

    span {
      font-size: 50px;
      color: red;
    }
  }

  p {
    margin-top: 8px;
    @include v.font-poppins-sans;
    font-size: 15px;
    color: v.$text-dark;
  }
}

/* Right contact */
.cta-contact {
  text-align: right;

  @media (max-width: 768px) {
    text-align: center;
  }

  .icons {
    display: flex;
    gap: 12px;
    justify-content: flex-end;

    @media (max-width: 768px) {
      justify-content: center;
    }

    a {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      color: #fff;
      text-decoration: none;

      img {
        width: 40px;
      }
    }
  }

  .number {
    display: block;
    margin-top: 8px;
    @include v.font-poppins-sans(600);
    font-size: 20px;
    color: v.$text-dark;
  }
}









.services-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  // padding: 50px 100px;
  width: 1200px;
  margin: auto;

  // @media (max-width: 992px) {
  //   grid-template-columns: 1fr;
  // }
}


@media screen and (max-width: 1321px) {
  .services-grid {
    width: 100%;
  }
}

.service-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: #fff;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  gap: 16px;
  overflow: hidden;

}

/* Image */
.service-image {
  width: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
}

/* Content */
.service-content {
  width: 100%;
  overflow: hidden;
  flex: 1;

  h3 {
    margin: 0 0 10px;
    font-size: 17px;
    font-weight: 600;
  }
}

/* Tabs */
.tabs {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
  width: 100%;
  margin-bottom: 10px;
  white-space: nowrap;
  width: 100%;
  // &::-webkit-scrollbar {
  //   height: 6px;
  // }

  span {
    font-size: 10px;
    padding: 6px 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    cursor: pointer;
    background: #f9f9f9;
    flex-shrink: 0;
    white-space: nowrap;
  }
}

/* Why choose */
.why {
  margin-top: 10px;
  overflow-x: scroll;

  .why-title {
    font-size: 13px;
    font-weight: 600;
    color: #ff3b3b;
    margin-bottom: 6px;
  }

  .icons {
    display: flex;
    gap: 14px;

    div {
      text-align: center;
      font-size: 11px;
      color: #555;

      i {
        display: block;
        font-size: 18px;
        margin-bottom: 4px;
        color: #ff3b3b;
      }
    }
  }
}

/* Actions */
.service-actions {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 100px;

  button {
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
  }

  .call {
    background: #ff3b3b;
  }

  .details {
    background: #ff5a5a;
  }

  .quote {
    background: #ff3b3b;
  }

  .chat {
    background: #25d366;
  }
}


#badge-section {
    padding: 10px;
    margin: 30px 0;

    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        width: 1200px;
        margin: auto;

        .card {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            img {
                width: 200px;
                margin-bottom: 20px;
            }

            p {
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 1240px) {
    #badge-section {
        .container {
            width: 100%;
        }
    }
}
@media screen and (max-width: 789px) {
    #badge-section {
        .container {
            .card{
                img{
                    width: 150px;
                }
                p{
                    font-size: 14px;
                }
            }
        }
    }
}
@media screen and (max-width: 659px) {
    #badge-section {
        .container {
            grid-template-columns: repeat(1,1fr);
            gap: 30px;
            .card{
                img{
                    width: 150px;
                    margin-bottom: 10px;
                }
                p{
                    font-size: 14px;
                }
            }
        }
    }
}






#google-review-sec {
    margin-top: 50px;
    padding: 10px;

    .container {
        display: grid;
        width: 1200px;
        margin: auto;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 20px;

        .text-box {
            h1 {
                margin-bottom: 10px;
            }
        }

        a {
            text-decoration: none;
        }

        .img-rating-box {

            .detail-link {
                img {
                    width: 400px;
                }

                display: flex;
                flex-direction: column;
            }

            .review-btn {
                padding: 10px 20px;
                background: v.$primary-color;
                display: inline-block;
                margin-top: 20px;
                border-radius: 30px;
                color: #fff;
                box-shadow: 0 5px 10px #00000055;
            }
        }
    }
}

@media screen and (max-width: 1234px) {
    #google-review-sec {

        .container {
            width: 100%;
        }
    }
}

@media screen and (max-width: 801px) {
    #google-review-sec {

        .container {
            grid-template-columns: repeat(1, 1fr);

            .img-rating-box {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }
        }
    }
}

@media screen and (max-width: 801px) {
    #google-review-sec {

        .container {
            grid-template-columns: repeat(1, 1fr);

            .text-box {
                h1 {
                    font-size: 20px;
                }

                p {
                    font-size: 14px;
                }
            }
        }
    }
}

@media screen and (max-width:495px) {
    #google-review-sec {

        .container {
            grid-template-columns: repeat(1, 1fr);

            .img-rating-box {
                .detail-link {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}





#about-company-cards {
  padding: 40px 10px;
  background: #f9fafc;

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    max-width: 1200px;
    margin: auto;
  }

  .card {
    background: #fff;
    border-radius: 14px;
    overflow: hidden;
    border: 1px solid #0000001a;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    transition: all 0.35s ease;
    display: flex;
    flex-direction: column;
    height: 100%;

    &:hover {
      transform: translateY(-8px);
      box-shadow: 0 20px 45px rgba(0, 0, 0, 0.12);

      img {
        transform: scale(1.08);
      }
    }

    img {
      width: 100%;
      height: 260px;
      object-fit: cover;
      transition: transform 0.5s ease;
    }

    h2 {
      padding: 18px 20px 8px;
      font-size: 18px;
      font-weight: 600;
      color: v.$primary-color;
      text-transform: uppercase;
      letter-spacing: 0.5px;
    }

    p {
      padding: 0 20px 22px;
      font-size: 14px;
      line-height: 1.6;
      color: #555;
      flex-grow: 1;
    }
  }
}


@media (max-width: 992px) {
  #about-company-cards .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  #about-company-cards {
    padding: 25px 8px;

    .container {
      grid-template-columns: 1fr;
      gap: 16px;
    }

    .card {
      img {
        height: 200px;
      }

      h2 {
        font-size: 16px;
        padding: 14px 16px 6px;
      }

      p {
        font-size: 13px;
        padding: 0 16px 18px;
      }
    }
  }
}
