@use "./variables" as v;

#office-location-section {
    margin-top: 60px;
    // background: linear-gradient(-30deg, #0a1017, #1e3045);
    background: linear-gradient(45deg, #0a170c, v.$primary-color);
    color: #fff;
    @include v.font-poppins-sans(400);
    padding: 60px 0;

    .buttons {
        margin: 30px;
        margin-bottom: 50px;
        margin-top: -10px;

        a {
            margin: 0 7px;
            padding: 10px 20px;
            @include v.font-poppins-sans(400);
            cursor: pointer;
            border-radius: 7px;
            width: 120px;
            border: none;
            background: rgb(255, 255, 255);
            box-shadow: 0 5px 10px #00000065;
            text-decoration: none;
            border-radius: 30px;
            color: #000;

        }
    }

    .container {
        display: flex;
        width: 80%;
        margin: auto;
        border-radius: 20px;
        // overflow: hidden;


        iframe {
            border-radius: 20px;
        }

        .details {
            margin-left: 60px;

            ul li {
                list-style: none;
                margin: 20px 0;
                display: flex;

                span {
                    margin-left: 10px;
                }
            }

            .hashTag {
                font-size: 50px;
                color: #1b5331;
                font-style: italic;
                margin: 0;
                padding: 0;
                margin-top: 30px;
            }
        }
    }
}

@media screen and (max-width: 1350px) {
    #office-location-section {
        padding: 60px 10px;

        .container {
            width: 100%;
        }
    }
}

@media screen and (max-width: 1266px) {

    #office-location-section {
        .buttons{
            margin: 0;
            overflow-x: scroll;
            margin-bottom: 30px;
            display: flex;
            a{
                display: block;
                // height: 50px;
                width: 130px;
            }
        }
    }
}

@media screen and (max-width: 1220px) {
    #office-location-section {
        .container {
            .details {
                margin-left: 20px;

                .hashTag {
                    font-size: 40px;
                }
            }
        }
    }
}

@media screen and (max-width: 1080px) {
    #office-location-section {
        .container {
            .details {

                .hashTag {
                    font-size: 30px;
                }
            }
        }
    }
}

@media screen and (max-width: 1044px) {
    #office-location-section {
        .container {
            iframe {
                width: 500px;
            }
        }
    }
}


@media screen and (max-width: 892px) {
    #office-location-section {
        .container {
            iframe {
                width: 400px;
            }
        }
    }
}

@media screen and (max-width: 892px) {
    #office-location-section {
        .container {
            flex-direction: column;

            iframe {
                width: 100%;
            }

            .details {
                margin-left: 0;

                .hashTag {
                    font-size: 50px;
                }
            }
        }
    }
}


@media screen and (max-width: 892px) {
    #office-location-section {
        .container {
            .details {

                .hashTag {
                    font-size: 40px;
                }
            }
        }
    }
}


@media screen and (max-width: 653px) {

    #office-location-section {
        .buttons{
            a{
                font-size: 13px;
                margin: 0 5px;
            }
        }
    }
}

@media screen and (max-width: 468px) {
    #office-location-section {
        .container {
            .details {

                .hashTag {
                    font-size: 30px;
                }
            }
        }
    }
}