.feature {
  width: 100%;

  
.image-box {
  height: 320px;
  border-radius: 12px;
  overflow: hidden;
  margin: 0 5px;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: url("../assets/blur.webp");
}

}
