
@use "./variables" as v;

#photogallerysec {
    @include v.font-poppins-sans(400);
  margin-top: 120px;
  padding: 10px;

  .container {
    position: relative;
    margin: 0 auto;
    width: 90%;

    .btns {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px 0;

      button {
        padding: 10px 20px;
        // background: $primary-color;
        color: #000000;
        border: none;
        border-radius: 8px;
        margin: 0 5px;
        font-size: 15px;
        cursor: pointer;
        border: 1px solid #0000004d;
        transition: .2s;
      }

      button.active {
        background: v.$primary-color;
        color: #fff;
        border: 1px solid #fff;
      }

      button:hover {
        background: v.$primary-color;
        color: #fff;
        border: 1px solid #fff;
      }
    }

    .content {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 15px;
      grid-auto-rows: 400px;
      margin-bottom: 10px;

      .img-bx {
        width: 100%;
        // height: auto;
        border-radius: 20px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 8px;
          display: block;
        }
      }
    }
  }
}


@media screen and (max-width:1280px) {
  #photogallerysec {
    .container {
      width: 95%;
    }
  }
}

@media screen and (max-width: 1101px) {
  #photogallerysec {
    margin-top: 80px;
  }
}


@media screen and (max-width:969px) {
  #photogallerysec {
    .container {
      width: 100%;
    }
  }
}

@media screen and (max-width:969px) {
  #photogallerysec {
    .container {
      .content {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 300px;
      }
    }
  }
}

@media screen and (max-width:788px) {
  #photogallerysec {
    .container {
      .btns {
        button {
          margin: 0 5px;
        }
      }
    }
  }
}

@media screen and (max-width:720px) {
  #photogallerysec {
    .container {
      .btns {
        button {
          padding: 10px 15px;
        }
      }
    }
  }
}

@media screen and (max-width:659px) {
  #photogallerysec {
    .container {
      .btns {
        flex-wrap: wrap;

        button {
          // padding: 10px 15px;
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media screen and (max-width:555px) {
  #photogallerysec {
    .container {
      .content {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
      }
    }
  }
}