.quick-menu{
    display: flex;
    flex-direction: column;
    a{
        height: calc(100% / 5);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #FFF;
        text-decoration: none;

        .icon{
            font-size: 40px;
        }
    }
    a:hover{
        background: #000;
    }
}