@use "./variables" as v;

.topbar {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 20px;
    font-size: 13px;
    z-index: 1000;
    background: #f2f2f2;

    .left {

        a {
            text-decoration: none;
            color: v.$primary-color;
        }

        display: flex;

        span {
            display: flex;
            align-items: center;
            margin: 0 10px;

            .icon {
                margin-right: 6px;
            }
        }
    }

    .right {
        display: flex;

        a {
            margin: 0 5px;
            text-decoration: none;
            color: #000;

            .icon {
                font-size: 20px;
            }
        }
    }
}

// .topbar {
//   display: flex;
// }