.topbar{
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 1000;
    .left{
        display: flex;
        span{
           display: flex;
           align-items: center;
           margin: 0 10px;
           .icon{
            margin-right: 6px;
           }
        }
    }
    .right{
        display: flex;

        a{
            margin: 0 5px;

            .icon{
                font-size: 20px;
            }
        }
    }
}