
@use "./variables" as v;

#video-gallery-sec {
    @include v.font-poppins-sans(400);
    padding: 10px;

    .container {
        width: 1200px;
        margin: auto;

        h1 {
            text-align: center;
        }

        p {
            text-align: center;
            margin-bottom: 30px;
        }

        .videos {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;

            iframe {
                border-radius: 20px;
                // height: 230px;
                width: 100%;
                height: 230px;
            }
        }
    }
}


@media screen and (max-width: 1230px) {
    #video-gallery-sec {

        .container {
            width: 100%;
        }
    }
}

@media screen and (max-width: 1100px) {
    #video-gallery-sec {
        margin-top: 70px;

        .container {
            .videos {
                gap: 10px;

                iframe {
                    height: 200px;
                }
            }
        }
    }
}

@media screen and (max-width:776px) {
    #video-gallery-sec {
        .container {
            .videos {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}
@media screen and (max-width:586px) {
    #video-gallery-sec {
        .container {
            .videos {
                iframe {
                    height: 170px;
                }
            }
        }
    }
}
@media screen and (max-width:498px) {
    #video-gallery-sec {
        .container {
            .videos {
                grid-template-columns: repeat(1, 1fr);
                iframe {
                    height: 240px;
                }
            }
        }
    }
}
@media screen and (max-width:344px) {
    #video-gallery-sec {
        .container {
            .videos {
                iframe {
                    height: 210px;
                }
            }
        }
    }
}