@use "./variables" as v;

.bg-attached-who-we-are {
    position: relative;
    width: 100%;
    height: 400px;
    background: url("../assets//WhoWeAre/who\ we\ are.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;

    h1 {
        font-size: 140px;
        color: #ffffff;
        z-index: 10;
    }

}

.bg-attached-who-we-are::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000098;
}

@media screen and (max-width: 1100px) {
    .bg-attached-who-we-are {
        margin-top: 84px;
    }
}

@media screen and (max-width: 960px) {
    .bg-attached-who-we-are {
        height: 300px;

        h1 {
            font-size: 100px;
        }
    }
}


@media screen and (max-width: 683px) {
    .bg-attached-who-we-are {
        height: 250px;

        h1 {
            font-size: 50px;
        }
    }
}

#who-we-are-section {
  @include v.font-poppins-sans(400);
    margin-top: 120px;
    margin-bottom: 30px;
    padding: 10px;

    .container {
        width: 900px;
        margin: auto;
        padding: 50px;
        padding-left: 70px;
        background: #e7e7e7;
        border-radius: 20px;

        .content {
            position: relative;

            h1 {
                margin-bottom: 30px;
                font-size: 50px;
                color: v.$primary-color;
            }

            p {
                color: #303030;
                line-height: 30px;
            }
        }

        .content::after {
            content: '';
            position: absolute;
            top: 0;
            left: -4%;
            height: 100%;
            width: 5px;
            background: v.$primary-color;
            border-radius: 20px;
        }
    }
}


@media screen and (max-width: 1101px) {
    #who-we-are-section {
        margin-top: 63px;
    }
}


@media screen and (max-width: 960px) {
    #who-we-are-section {

        .container {
            width: 98%;
        }
    }
}

@media screen and (max-width: 824px) {
    #who-we-are-section {

        .container {
            padding: 25px;
            padding-left: 50px;
        }
    }
}

@media screen and (max-width: 597px) {
    #who-we-are-section {

        .container {
            padding: 20px 10px;
            padding-left: 35px;

            .content {

                h1 {
                    margin-bottom: 20px;
                }

                p {
                    line-height: 22px;
                    font-size: 13px;
                }
            }
        }
    }
}