@use "./variables" as v;

.bg-attached {
    position: relative;
    width: 100%;
    height: 400px;
    background: url("../assets/expandable_slider/house.webp");
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;

    h1 {
        font-size: 140px;
        color: #ffffff;
        z-index: 10;
    }

}

.bg-attached::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000098;
}

#why-gati-sec {
  @include v.font-poppins-sans(400);
    margin-top: 120px;
    margin-bottom: 30px;





    .container {
        width: 1000px;
        margin: auto;
        padding: 50px;
        padding-left: 70px;
        background: #e7e7e79a;
        border-radius: 20px;

        .content {
            position: relative;

            h1 {
                margin-bottom: 30px;
                font-size: 30px;
                color: v.$primary-color;
            }

            h3 {
                margin-top: 40px;
                margin-bottom: 10px;
            }

            ul {
                margin-left: 20px;

                li {

                    color: #303030;
                }
            }

            p {
                color: #303030;
                line-height: 30px;
            }
        }

        .content::after {
            content: '';
            position: absolute;
            top: 0;
            left: -4%;
            height: 100%;
            width: 5px;
            background: v.$primary-color;
            border-radius: 20px;
        }
    }
}


@media screen and (max-width: 1101px) {
    #why-gati-sec {
        margin-top: 63px;
    }
}


@media screen and (max-width: 1024px) {
    #why-gati-sec {

        .container {
            width: 98%;
        }
    }
}

@media screen and (max-width: 824px) {
    #why-gati-sec {

        .container {
            padding: 25px;
            padding-left: 50px;
        }
    }
}

@media screen and (max-width: 772px) {
        .bg-attached {
            height: 300px;

            h1 {
                font-size: 100px;
            }
        }
}

@media screen and (max-width: 597px) {
    #why-gati-sec {

        .container {
            padding: 20px 10px;
            padding-left: 35px;

            .content {

                h1 {
                    margin-bottom: 20px;
                }

                ul {
                    li {
                        font-size: 13px;
                    }
                }

                p {
                    line-height: 22px;
                    font-size: 13px;
                }
            }
        }
    }
}


@media screen and (max-width: 556px) {
        .bg-attached {
            height: 250px;

            h1 {
                font-size: 60px;
            }
        }
}